@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  background-image: url("bg.jpg");
  background-size: cover;
}

p, h1, h3 {
  color: black;
}

p, li{
  font-family: 'Roboto', sans-serif;

}

h1, h3 {
  font-family: 'Roboto', sans-serif;
}

#header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  font-size: 15px
}

hr {
  border-color: black;
  border-style: solid;
}


#English {
  position: relative;
  top: 0;
  right: 0
}
#content {
  margin: auto;
  margin-top: 0;
  padding: 15px;
  max-width: 600px;
  height: 100%;
  top: 0;
  background-color: rgba(125,125,125, 0.7);
}

#upper_content {
  padding-top: 10px;
  text-align: center;
}

#button_ {
  width: 60%;
  font-size: 17px;
  padding: 5px;
  background-color: rgb(64, 92, 76);
  border: 2px black;
  border-style: outset;
}

#button_:hover {
  border-style: inset;
}

#button_div{
  width: 100%;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: black;
  left: 0;
  font-size: 12px;
  color: white;
}

.a_header {
  text-decoration: none;
  padding-right: 20px;
}

.a_header_english {
  position: fixed;
  right: 10%;
  text-decoration: none;
}
a {
  font-family: 'Roboto', sans-sans-serif;
  color: white;
}
